[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "vane"]
	path = vane
	url = https://github.com/AstroVela/vane.git
	branch = feature/distributed-extension-io-core
